/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 oct. 2016, 16:50:39
    Author     : admin
*/

h2{
    background-color: blueviolet;
    color: gold;
    font-family: fantasy;
    font-size: x-large;
        
        
}

h5{
    background-color: chartreuse;
    font-family: sans-serif;
    text-align: center;
    font-size: 15px;
    
    
}